
<h1>Welcome to Re-former</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= user.name %>
    </li>
    <li><%= link_to 'Show user', user_path(user) %></li>
    <li><%= link_to 'Edit user', edit_user_path(user) %></li>
  <% end %>
</ul>
<%= link_to 'New user', new_user_path %>